.principal{
    margin-left: 10%;
    width: 80% ;
    height: auto;overflow: hidden;
    border:1px solid; 

}

.hijo1{
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;

}

.margin-bot{
    margin-bottom: 3%;
}

.order{
    margin-top: 10%;
    margin-bottom: 30%;
    margin-left: 10%;
}

