
<div class="principal">
    <div class="hijo1">

        <form #userForm="ngForm" >

            <div class="row">
                <div class="col-md-6">


                    <div class="margin-bot">

                        <label >Nombre</label>
                        <input type="text" class="form-control"   name= "name" #name = "ngModel"[(ngModel)] = "userservice.selectdUser.nombre" required>
                    
                    </div>

                    <div class="margin-bot">

                        <label >Documento de identidad</label>
                        <input type="text" class="form-control"   name= "cc" #cc = "ngModel"[(ngModel)] = "userservice.selectdUser.cc"required>
                    
                    </div>

                   


                    <div class="row margin-bot">

                        <div class="col-md-6">

                            <label for="inputState">Genero</label>
                            <select id="inputState" class="form-control"  name= "genero" #genero = "ngModel"[(ngModel)] = "userservice.selectdUser.genero" required>
                                <option>Hombre</option>
                                <option>Mujer</option>
                            </select>


                        </div>
                        <div class="col-md-6">

                            <label for="inputState">EPS</label>
                            <select id="inputState" class="form-control"  name= "eps" #eps = "ngModel"[(ngModel)] = "userservice.selectdUser.eps" required>
                                <option>IPS UDEA</option>
                                <option>COOMEVA</option>
                                <option>SURA</option>
                                <option>CRUZ BLANCA</option>
                                <option>MEDIMAS</option>
                               
                            </select>

                        </div>

                    </div>


                    <div class="row margin-bot">
                        <div class="col-md-4">

                            <label >Telefono</label>
                            <input type="text" class="form-control"   name= "telefono" #telefono = "ngModel"[(ngModel)] = "userservice.selectdUser.telefono" required>

                        </div>

                        <div class="col-md-4">

                            <label >Dirreccion</label>
                            <input type="text" class="form-control" name = "direccion" #direccion = "ngModel"[(ngModel)] = "userservice.selectdUser.direccion" required>

                        </div>

                        <div class="col-md-4 ">

                            <label >Edad</label>
                            <input type="text" class="form-control"   name= "edad" #edad = "ngModel"[(ngModel)] = "userservice.selectdUser.edad" required>
                        
                        </div>

                    </div>

                </div>


            

                <div class="col-md-6">

                    <div class="order">

                        <label >Ingrese Imagen</label>
                        <input type="file" class="form-control-file">

                    </div>

                </div>
                
            </div>
            
            <button class="margin-bot" (click) = "addUser(userForm)" >Save</button>

        </form>
    </div>
</div>


