<div class="principal">


    <div class="order">

        <p class="just">

            Un PACS es un sistema de almacenamiento y distribución de imagen. Esta definición
            corresponde a la traducción literal de sus siglas Picture Archiving and Comunications System.
            Normalmente asociamos este sistema a Radiología, debido a que este servicio es el principal
            generador de imagen de un hospital y además el de mayor consumo.


        </p>

        <p class="just">
            Un PACS es un sistema de almacenamiento y distribución de imagen. Esta definición
            corresponde a la traducción literal de sus siglas Picture Archiving and Comunications System.
            Normalmente asociamos este sistema a Radiología, debido a que este servicio es el principal
            generador de imagen de un hospital y además el de mayor consumo.

        </p>

        <p class="just">

            El protocolo específico que utilizan los sistemas PACS es el DICOM (Digital Imaging
            COmmunication on Medicine), aunque también se pueden usar otros protocolos específicos
            para capturar las imágenes.

        </p>

    </div>
    


</div>
