.principal{
    margin-left: 10%;
    width: 80% ;
    height: auto;overflow: hidden;
    border:1px solid; 

}

.hijo1{
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
    
}


.flotante{
    
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    margin-bottom: 1%;

}

.just{
    text-align: justify;
}

