

<section class="principal">

    <div class="row">
        

        <div class="col-md-6">

            <div class="hijo1">

                <p class="just">SISTEMA DE IMÁGENES – IMG SOFTWARE
                    es una aplicación que proporciona un
                    sistema de almacenamiento de imágenes
                    médicas, que estarán al servicio de los
                    médicos y sus respectivas especialidades,
                    de tal forma que se tienen disponibles
                    para en el momento de la consulta del
                    pacientes.
                </p>

            </div>
            
        
        </div>

        <div class="col-md-6">

            <img class=" flotante " src="https://preview.free3d.com/img/2013/01/2154827178385081618/okbbtaaj-900.jpg" width="200px" >

        </div>
    
    

    </div>

</section>