<div class="principal">


    <div class="order">


        <div class="margin-bot">

            <label >Nombre:</label>
            <input type="text" class="form-control"  placeholder="">
        
        </div>

        <div class="margin-bot">

            <label >Teléfono de contacto:</label>
            <input type="text" class="form-control"  placeholder="">
        
        </div>

        <div class="margin-bot">

            <label >E-mail del contacto:</label>
            <input type="email" class="form-control"  placeholder="">
        
        </div>

        <div class="margin-bot">

            <label >Mensaje:</label>
            <textarea class="form-control" rows="3">

            </textarea>
            
        
        </div>


        <div class="margin-bot">
            <div class="row">

                <div class="col-md-6">

                    <button type="submit" class="btn btn-primary margin-bot">Enviar</button>

                </div>

                <div class="col-md-6">

                    <button routerLink="/contact" class="btn btn-primary margin-bot">Borrar</button>

                </div>

            </div>

        </div>

    </div>



</div>
